  /* Hello IE */
  @media \0screen\,screen\9 {
    div.cartodb-popup.v2.dark {
      border:4px solid #AAA;
    }

    div.cartodb-popup.v2.dark div.cartodb-popup-tip-container {
      border-top:18px solid #000;
    }

    div.cartodb-popup.v2.dark a.cartodb-popup-close-button {
      border:2px solid #AAA;
      color:white;
    }

    div.cartodb-popup.v2.dark a.cartodb-popup-close-button:hover {
      border:2px solid #BBB;
    }
  }
/* Hello IE */
  @media \0screen\,screen\9 {
    div.cartodb-popup.v2 {
      border:4px solid #CCC;
    }

    div.cartodb-popup.v2 div.cartodb-popup-tip-container {
      position:absolute;
      width:0;
      height:0;
      margin-left:28px;
      z-index:2;
      bottom:-18px;
      left:-4px;
      border-left:0px solid transparent;
      border-right:18px solid transparent;
      border-top:18px solid white;
    }

    div.cartodb-popup.v2 a.cartodb-popup-close-button {
      right:-14px;
      top:-14px;
      width:18px;
      padding:0 0 0 2px;
      text-indent:0;
      font:bold 11px Arial;
      font-weight:700;
      text-decoration:none;
      text-align:center;
      line-height:20px;
      border:2px solid #CCC;
    }

    div.cartodb-popup.v2 a.cartodb-popup-close-button:before,
    div.cartodb-popup.v2 a.cartodb-popup-close-button:after {
      display:none;
    }

    div.cartodb-popup.v2 a.cartodb-popup-close-button:hover {
      border:2px solid #999;
    }
  }
/* Hello IE */
@media \0screen\,screen\9 {

  div.cartodb-popup.header.v2 {
    border-bottom:4px solid #CCC;
  }
  
  div.cartodb-popup.v2.header div.cartodb-popup-header {
    background:#3B7FBD;
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4F9CD7',endColorStr='#2B68A8',GradientType=0);
  }

}
/* Hello IE */
@media \0screen\,screen\9 {
  div.cartodb-popup.v2.header.green a.cartodb-popup-close-button {
    color:#00CC99;
  }
}

/* Hello IE */
@media \0screen\,screen\9 {
  div.cartodb-popup.v2.header.orange a.cartodb-popup-close-button {
    color:#CC2929;
  }
}
/* Hello IE */
@media \0screen\,screen\9 {
  div.cartodb-popup.v2.header.yellow a.cartodb-popup-close-button {
    color:#CC7A29;
  }
}
